
.imgBtn{
  width: 100%;
  border-radius: 50%;
  display: grid;
}

.imgBtn:hover {
  -webkit-animation: pulse 0.5s;
  animation: pulse 0.5s;
  box-shadow: 0 0 0 2em transparent;
}

.imgBtnt:hover{
  animation: pulse 1s;
}

@keyframes pulse {
  0% {
    transform: scale(0.8);
  }
  
  50% {
    transform: scale(1.2);
  }
  
  100% {
    transform: scale(1);
  }
}

.blob.green {
  border: solid;
  border-color: rgba(51, 217, 178, 1);;
  border-width: medium;
  margin: 2.5%;
  width: 7%;
  border-radius: 50%;
  background: rgba(51, 217, 178, 1);
  box-shadow: rgba(51, 217, 178, 1);
  animation: pulse-GJ 2s infinite;
}

@keyframes pulse-GJ {
  0% {
    transform: scale(1.45);
    box-shadow: 0 0 0 0 rgba(51, 217, 178, 0.7);
  }
  
  70% {
    transform: scale(1.5);
    box-shadow: 0 0 0 10px rgba(51, 217, 178, 0);
  }
  
  100% {
    transform: scale(1.45);
    box-shadow: 0 0 0 0 rgba(51, 217, 178, 0);
  }
}


.normalBtn {
  display: inline-block;
  background-image: linear-gradient(to right, #ff6d00 0%, #ff3000 100%);
  border-radius: 40px;
  box-sizing: border-box;
  color: #ff6d00;
  display: block;
  height: 50px;
  font-size: 1.4em;
  padding: 4px;
  position: relative;
  text-decoration: none;
  width: 7em;
  z-index: 2;
  font-family: sans-serif;
  font-size: 100%;
}

.normalBtn:hover {
  color: #fff;
}

.normalBtn .normalBtnspan {
  align-items: center;
  background: #0e0e10;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  height: 100%;
  transition: background 0.5s ease;
  width: 100%;
}

.normalBtn:hover .normalBtnspan {
  background: transparent;
}

.normalBtn{
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
}