
.imgBtn{
  width: 100%;
  border-radius: 50%;
  display: grid;
  animation: buttonGray 2s infinite;
}

.imgBtn{
  filter: grayscale(100%);
  transition: grayscale 0.5s;
}

.imgBtn:hover {
  -webkit-animation: pulse 0.5s;
  animation: pulse 0.5s;
  box-shadow: 0 0 0 2em transparent;
}

.imgBtnt:hover{
  filter: grayscale(0);
  animation: pulse 1s;
}

@keyframes pulse {
  0% {
    transform: scale(0.8);
  }
  
  50% {
    transform: scale(1.2);
  }
  
  100% {
    transform: scale(1);
  }
}

.blob.green {
  border: solid;
  border-color: rgba(51, 217, 178, 1);;
  border-width: medium;
  margin: 2.5%;
  width: 7%;
  border-radius: 50%;
  background: rgba(51, 217, 178, 1);
  box-shadow: rgba(51, 217, 178, 1);
  animation: pulse-GJ 2s infinite;
}


@keyframes buttonGray{
  0%{
    filter: grayscale(1);
  }
  50%{
    filter: grayscale(0);
  }
  100% {
    filter: grayscale(1);
  }
}

@keyframes pulse-GJ {
  0% {
    transform: scale(1.45);
    box-shadow: 0 0 0 0 rgba(51, 217, 178, 0.7);
  }
  
  70% {
    transform: scale(1.5);
    box-shadow: 0 0 0 10px rgba(51, 217, 178, 0);
  }
  
  100% {
    transform: scale(1.45);
    box-shadow: 0 0 0 0 rgba(51, 217, 178, 0);
  }
}