.imgBtn{
  width: 20%;
  border-radius: 50%;
  cursor: pointer;
}

.imgBtn{
  filter: grayscale(1);
  transition: grayscale 0.5s;
}

.imgBtn:hover {
  -webkit-animation: pulse 0.5s;
  animation: pulse 0.5s;
  box-shadow: 0 0 0 2em transparent;
}
@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #fff;
  }
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #fff;
  }
}

.imgBtnt:hover{
  background: white;
  animation: pulse 1s;
  filter: grayscale(0);
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
  }
  
  50% {
    transform: scale(1.1);
  }
  
  100% {
    transform: scale(1);
    filter: grayscale(0);
  }
}