html{
  height: 100%;
  width: 100%
}

body{
  height: 100%;
  width: 100%;
}


body{
    font-family: 'Press Start 2P', Arial, Helvetica, sans-serif;
    color: white;
    text-shadow: 2px 0 black, -2px 0 black, 0
    2px black, 0 -2px black, 1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
    font-size: 50%;
    font-weight: 10vw;
    line-height: 120%;
}

.logo{
    margin: 0;
    width: 80%;
    display: block;
}

.header{
    background-color: transparent;
    position: fixed;
    top: 0;
    display: block;
    margin: -8px;
    background-repeat: no-repeat;
}

.hidden {
    display: none;
}

.mainTitle{
    margin-top: 50%;
    margin-left: 3%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.botTxtLog{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 5%;
  font-size: 100%;
  color: transparent;
  text-shadow: none;
  font-weight: thick;
}


.date{
  color: transparent;
  text-shadow: none;
  font-family: Arial, Helvetica, sans-serif;
}

.normalBtn{
  margin-top: 800%;
}

html{
  margin-left: auto;
  margin-right: auto;
}

.gradient{
  margin-left: -2%;
  width: 104%;
  margin-top: 20%;
}

body{
  background-size: 100%;
  background-image: url("/img/background.png");
  background-repeat: no-repeat;
  background-color: #1D1D1D;
}

.normalBtn{
 align-items: center;
}

body{
  margin: 0;
}

p{
  margin-left: 3%;
}

.slider{
  margin: 0 auto;
  width: 95vw;
  height: 30vh;
  overflow: hidden;
  border-radius: 20px;
  border: 1px solid black;
}

.slides{
  width: 400%;
  height: 30vh;
  display: flex;
}

.slides input{
  display: none;
}

.slideImg{
  width: 25%;
  position: relative;
  transition: 1s;
}

.slideImg img{
  width: 95vw;
  height: 30vh;
}

.manualNav{
  position: absolute;
  width: 95vw;
  margin-top: -9%;
  display: flex;
  justify-content: center;
}

.manualBtn{
  border: 1vh solid #fff;
  border-radius: 100px;
  transition: 0.3s;
  cursor: pointer;
}

.manualBtn:not(last-child){
  margin-right: 0.5vh;
}

.manualBtn:hover{
  border-color: transparent;
}

.videoBtn{
  border-color: red;
}

#radio1:checked ~ .first{
  margin-left: 0;
}

#radio2:checked ~ .first{
  margin-left: -25%;
}

#radio3:checked ~ .first{
  margin-left: -50%;
}

#radio4:checked ~ .first{
  margin-left: -75%;
}

#radio5:checked ~ .first{
  margin-left: -100%;
}

.playBtn{
  position: absolute;
  margin: 0 auto;
  display: block;
}

.slideImg iframe{
  width: 95vw;
  height: 30vh
}

.header img{
  margin: 0 auto;
}

.header{
  max-width: 100vw;
  max-height: 20vh;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
.socialBtn{
  margin-top: 5%;
  margin-bottom: 13%;
  display: flex;
  justify-content: center;
}

body{
  max-width: 100vw;
  max-height: 100vh;
}

.mediaTxt h5{
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
}

p{
  line-height: 3vh;
}

.synopTxt{
  margin-top: 15vh;
}