html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Press Start 2P', 'sans-serif';
    color: white;
    font-size: 60%;
    font-weight: 100;
    background: #000000;
}

.logo{
    margin: auto;
    width: 80%;
    display: block;
}

.header{
    background-color: #0c1c1c;
    position: fixed;
    top: 0px;
    display: block;
}

.hidden {
    display: none;
}

.mainTitle{
    margin-top: 20%;
}
